.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.search-enter {
  margin-top: 0.15rem;
  margin-right: 10rem;
  min-width: 2rem;
  min-height: 2rem;
  background-color: #6042B8;
  border-radius: 1rem;
  cursor: pointer;
}
.active-purple-4 input[type=text]:focus:not([readonly]) {
  border-radius: 60px;
  box-shadow: 0 0 0 2px #ce93d8;
}
.active-purple-4 input[type=text] {
  border: none;
  border-radius: 60px;
}
.search-bar {
  padding-top: 1.1px;
    background-color: white;
    color: grey;
    border-radius: 60px;
    cursor: text;
}
.select-category-for-search-button {
  padding: 0.5rem;
  color: grey;
  background-color: white;
  border-radius: 60px;
  height: 2.5rem;
  cursor: pointer;
}
.new-product-button {
    font-size: 8pt;
    padding: 0.5rem;
    color: black;
    background-color: white;
    border-radius: 60px;
    height: 2.5rem;
    cursor: pointer;
}
.product-tile {
    -webkit-box-shadow: 10px 10px 44px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 44px -22px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 44px -22px rgba(0,0,0,0.75);
    min-height: 7rem;
    padding: 1rem;
    color: black;
    background-color: white;
    border-radius: 5px; 
    cursor: pointer;
}
.transparent-desk {
    
    background-color: rgb(0,0,0,0.3);
    border-radius:20px 20px 0px 0px ;
    min-height: 93.3vh;
    padding: 2rem 2rem 5rem 2rem;
}

  :root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 0;
  }
  
  .navigation-bar {
    z-index: 100;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
  }
  
  .navigation-bar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #ab47bc;
  
    ;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.1rem;
    width: 100%;
  }
  
  .logo img {
    margin-left: 0.5rem;
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  .modal-background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left:0;
    z-index: 100;
    background: rgb(0,0,0,0.8);

  }
  .modal-container {
    position: absolute;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    background-color: white;
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {

    .panel {
      z-index: -10;
      min-height: 100%;
      background: rgb(145,98,228);
      background: linear-gradient(180deg, rgba(145,98,228,1) 0%, rgba(67,32,159,1) 100%);
    }
    .container-fluid {
      padding-bottom: 2rem;
    }
    .navigation-bar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navigation-bar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
      width: 40px;
      margin-left: 10px;
    }
    .nav-item {
      text-align: center;
    }
  
    main {
      margin: 0rem 0rem 5rem 0rem;
      padding: 2rem 2rem 0rem 2rem;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .panel {
      z-index: -10;
      min-height: 100vh;
      background: rgb(145,98,228);
      background: linear-gradient(180deg, rgba(145,98,228,1) 0%, rgba(67,32,159,1) 100%);
    }
    main {
        padding: 3rem 3rem 0rem 3rem;
        margin-left: 5rem;
        min-height: 100%;
    
    }
    .navigation-bar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navigation-bar:hover {
  
      width: 16rem;
    }
    @keyframes fadeout {
      0% {opacity: 100%;}
      0% {opacity: 0%;}
    }
    @keyframes fadein {
      0% {    opacity: 0%;}
      100% {opacity: 100%;}
    }
    .navigation-bar:hover .link-text {
      animation-name: fadein;
      animation-duration: 1s;
      opacity: 100%;
      display: inline;
    }
  
    .navigation-bar:hover .logo img
    {
      margin-left: 11rem;
    }
  
    .navigation-bar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  .material-shadow {
    -webkit-box-shadow: 10px 10px 44px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 44px -22px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 44px -22px rgba(0,0,0,0.75);
  }
  
  .hide-data {
    display: none;
  }
  
  #avatar {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }
  
  .product-search-button {
    width: 6rem;
    height: 2.4rem;
    border: 50px !important;
    background-color: purple;
  }
  .main-div {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  