@-webkit-keyframes background {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes background {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-o-keyframes background {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes background {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

@-webkit-keyframes panel {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes panel {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-o-keyframes panel {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes panel {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
.bg {
    background: linear-gradient(52deg, #5e92f3, #003c8f, #6a0080, #d05ce3);
    background-size: 800% 800%;
    -webkit-animation: background 21s ease infinite;
    -moz-animation: background 21s ease infinite;
    -o-animation: background 21s ease infinite;
    animation: background 21s ease infinite;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
@keyframes fast-in-from-up {
    0%   {top:0px; left:50%; top:0px;}
    100% { top:100%; left:50%; top:50%;}
  }

.login-box-div {
    box-shadow: 10px;
    border-radius: 10px;
    width: 320px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 10px 10px 50px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -11px rgba(0,0,0,0.75);
    background: linear-gradient(223deg, #212121, #1b1b1b);
    background-size: 400% 400%;
    -webkit-animation: panel 21s ease infinite;
    -moz-animation: panel 21s ease infinite;
    -o-animation: panel 21s ease infinite;
    animation: panel 21s ease infinite;    
    animation: panel 21s ease infinite;
    animation: fast-in-from-up 1.5s 1;
    
}
.login-button-drop-shadow {
    background-color: #39796b;
    border-color: #4fb3bf;
}
.login-items-center {
    margin-top: 30%;
}
.atsign {
    background-color: #afc2cb;
}
.avatar {
    position: absolute;
    left: 110px;
    bottom: 250px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.login-button {
    padding-top: 11px;
    cursor: pointer;
    transform:translateX(50px);
    width:162px;
    height: 55px;
    border-radius: 28px;
    background-color: white;
    color: #136BBF;
    border-width: 1px;
    border-style: solid;
    border-color:#707070;
    font-size: larger;
}
/* sign up */
.bg-signup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgb(154,0,7);
    background: linear-gradient(13deg, rgba(154,0,7,1) 0%, rgba(255,102,89,1) 100%);
}
@keyframes fast-in-from-up {
    0%   {top:0px; left:50%; top:0px;}
    100% { top:100%; left:50%; top:50%;}
  }
.signup-box-div {
    display: none;
    background: #e57373;
    box-shadow: 10px;
    border-radius: 10px;
    width: 400px;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 50px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -11px rgba(0,0,0,0.75);
    background: linear-gradient(223deg, #212121, #1b1b1b);
    background-size: 400% 400%;
    -webkit-animation: panel 21s ease infinite;
    -moz-animation: panel 21s ease infinite;
    -o-animation: panel 21s ease infinite;
    animation: panel 21s ease infinite;    
    animation: panel 21s ease infinite;
    animation: fast-in-from-up 1.5s 1;

}
.signup-button-drop-shadow {
    background-color: #39796b;
    border-color: #4fb3bf;
}
.signup-items-center {
    margin-top: 30%;
}
.atsign {
    background-color: #afc2cb;
}
.avatar {
    position: absolute;
    left: 110px;
    bottom: 250px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.signup-button {
    padding-top: 11px;
    cursor: pointer;
    transform:translateX(50px);
    width:162px;
    height: 55px;
    border-radius: 28px;
    background-color: white;
    color: #136BBF;
    border-width: 1px;
    border-style: solid;
    border-color:#707070;
    font-size: larger;
}
.selectable {
    cursor: pointer;
}
