<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Admin panel</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"rel="stylesheet"/>
            <link rel="stylesheet" href="/css/admin-panel-style.css"/>
            </head>
            <body>
              <nav class="navigation-bar"><!-- NavigationBat sectoin -->
                    <ul class="navigation-bar-nav">
                    <li class="logo">
                        <a href="#" class="nav-link">
                        <span id="nickname" class="link-text logo-text">$userName</span>
                            <img id="avatar"class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x" src="/img/avatar-male.jpg">
                        </a>
                    </li>

                    <li class="nav-item" id="overview-option" >
                        <a href="#" class="nav-link">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z" class="fa-secondary"></path></svg>
                        <span class="link-text">Overview</span>
                        </a>
                    </li>

                    <li class="nav-item" id="products-option">
                        <a href="#" class="nav-link">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="box" class="svg-inline--fa fa-box fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M509.5 184.6L458.9 32.8C452.4 13.2 434.1 0 413.4 0H272v192h238.7c-.4-2.5-.4-5-1.2-7.4zM240 0H98.6c-20.7 0-39 13.2-45.5 32.8L2.5 184.6c-.8 2.4-.8 4.9-1.2 7.4H240V0zM0 224v240c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V224H0z" class="fa-secondary"></path></svg>
                        <span class="link-text">Products</span>
                        </a>
                    </li>

                    <li class="nav-item"  id="customers-option" >
                        <a href="#" class="nav-link">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-friends" class="svg-inline--fa fa-user-friends fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zM480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48 0-61.9-50.1-112-112-112z" class="fa-secondary"></path></svg>
                        <span class="link-text">Customers</span>
                        </a>
                    </li>

                    <li class="nav-item"  id="summary-option"  >
                        <a href="#" class="nav-link">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" class="svg-inline--fa fa-chart-area fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z" class="fa-secondary"></path></svg>
                        <span class="link-text">Summary</span>
                        </a>
                    </li>
                    <li class="nav-item"  id="settings-option">
                        <a href="#" class="nav-link">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cog" class="svg-inline--fa fa-cog fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z" class="fa-secondary"></path></svg>
                        <span class="link-text">Settings</span>
                        </a>
                    </li>
                    <li class="nav-item" id="logout-option"  >
                        <a href="#" class="nav-link">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="power-off" class="svg-inline--fa fa-power-off fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M400 54.1c63 45 104 118.6 104 201.9 0 136.8-110.8 247.7-247.5 248C120 504.3 8.2 393 8 256.4 7.9 173.1 48.9 99.3 111.8 54.2c11.7-8.3 28-4.8 35 7.7L162.6 90c5.9 10.5 3.1 23.8-6.6 31-41.5 30.8-68 79.6-68 134.9-.1 92.3 74.5 168.1 168 168.1 91.6 0 168.6-74.2 168-169.1-.3-51.8-24.7-101.8-68.1-134-9.7-7.2-12.4-20.5-6.5-30.9l15.8-28.1c7-12.4 23.2-16.1 34.8-7.8zM296 264V24c0-13.3-10.7-24-24-24h-32c-13.3 0-24 10.7-24 24v240c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24z"></path></svg>
                        <span class="link-text">Log out</span>
                        </a>
                    </li>
                    </ul>
                </nav> <!-- NavigationBat sectoin -->
                <main>
                    <div class="container-fluid p-0">
                      <!-- DATA divs -->
                        <div id="overview-data" class="data" >
                            <div class="row" >
                                <div class="col-12 panel">
                                        <div class="row">
                                            <div class="col-lg-4 p-5 col-md-4 col-sm-12" >
                                                <div class="card bg-light mb-3 material-shadow over-view-tile" style="max-width: 27rem;height: 25rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Light card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                                <div class="card bg-light mb-3 material-shadow over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Light card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 p-5 col-md-4 col-sm-12">
                                                <div class="card bg-light mb-3 over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Light card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                                <div class="card bg-light mb-3 over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Light card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                                <div class="card bg-light mb-3 over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Light card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 p-5 col-md-4 col-sm-12" >
                                                <div class="card text-white bg-primary mb-3 over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Primary card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                                <div class="card text-white bg-primary mb-3 over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Primary card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                                <div class="card text-white bg-primary mb-3 over-view-tile" style="max-width: 27rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                    <h5 class="card-title">Primary card title</h5>
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="products-data" class="data hide-data">
                        <div class="container-fluid panel">
                          <div class="row justify-content-end">
                            <div class="col-auto offset-7 pt-3">
                              <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  sort by
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Price</a>
                                  <a class="dropdown-item" href="#">Name</a>
                                  <a class="dropdown-item" href="#">3333</a>
                                </div>
                              </div>
                            </div>
                            <div class="col offset pt-3 text-center" style="padding-right: 3rem;" >
                              <form class="form-inline md-form mr-auto mb-4">
                              <input id="searchBar" class="form-control mr-sm-2 search-button" type="text" placeholder="Search" aria-label="Search">
                              <button id="searchButton" class="btn btn-elegant btn-rounded btn-sm my-0 product-search-button" type="submit">Search</button>
                              </form>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-lg-3 p-5 col-md-4 col-sm-12" >
                                    <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>

                                </div>
                                <div class="col-lg-3 p-5 col-md-4 col-sm-12" >
                                    <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-3 p-5 col-md-4 col-sm-12" >
                                    <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>

                                </div>
                                <div class="col-lg-3 p-5 col-md-4 col-sm-12" >
                                    <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                      <div class="card border-dark mb-3 product-tile" style="max-width: 18rem;">
                                        <div class="card-header">Header</div>
                                        <div class="card-body text-dark">
                                          <h5 class="card-title">Dark card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>

                                </div>
                              </div>
                        </div>
                        </div>
                        <div id="customers-data" class="data hide-data"></div>
                        <div id="summary-data" class="data hide-data"></div>
                        <div id="settings-data" class="data hide-data"></div>
                    </div>
                </div>
                    </div>
                </main>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script src="/js/admin-panel.js"></script>
            </body>
    </html>
