<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change</title>
  </head>
  <body>
    <h2>Change Form</h2>
    <select id="products" name="product"></select>
    <form class="changeForm" action="index.html" method="post">
    </br><label for="Name">Name:</label></br>
      <input id="Name" type="text" name="Name"></br>
      <label for="Price">Price:</label></br>
      <input id="Price" type="text" name="Price"></br>
      <label for="Category">Category:</label></br>
      <input id="Category" type="text" name="Category"></br>
      <label for="Amount">Amount:</label></br>
      <input id="Amount" type="text" name="Amount"></br>
      <button id="submit" type="button" name="button">Send</button>
    </form>
    <h3 id="result"></h3>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="/js/changeProduct.js" type="text/javascript"></script>
  </body>
</html>
