<!doctype html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="bg-login"></div>
		<div class="container login-box-div">
			<img id="avatar" class="avatar" src="/img/avatar-male.jpg">

			</img>
			<div class="container-fluid login-items-center">
				<form>
					<div class="form-row align-items-center">
						<div class="col-12">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<label class="sr-only" for="inlineFormInputGroup">Username</label>
							</div>
							<input type="text" class="form-control" id="username" placeholder="Username">
							</div>
						</div>
						<div class="col-12 text-center">
							<div class="form-group">
								<label class="sr-only" for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password">
							</div>
						</div>
						<div class="col-12 text-center">
							<!-- <div id="btn" class="login-button">
								<p class="mb-0 text-center">Login</p>
							</div> -->
              <button id="btn" class="btn btn-lg btn-block btn-primary" type="button" name="button">Login</button>
						</div>
						<div class="col mb-2 text-center">

						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/js/app.js"></script>
	</body>
</html>
