<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="addProduct" action="index.html" method="post">
      <label for="Name">Name:</label></br>
      <input id="name" type="text" name="Name" value=""></br>
      <label for="Price">Price:</label></br>
      <input id="price" type="text" name="Price" value=""></br>
      <label for="Amount">Amount:</label></br>
      <input id="amount" type="text" name="Amount" value=""></br>
      <label for="Category">Category:</label></br>
      <input id="category" type="text" name="Category" value="">
      <button id="submit" type="button" name="button">Send</button>
    </form>
    <script src="/js/productOps.js" type="text/javascript"></script>
  </body>
</html>
