<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TestPage</title>
  </head>
  <body>
    <h2>Haha</h2>
    <img id="qrcode" src="" alt="qrcode"></br>
    <button id="sendButton" type="button" name="button">Send Request</button>
    <input  id="discountLabel" type="text" name="" value="">
    <script src="/js/qrcode.js" type="text/javascript"></script>
  </body>
</html>
