<!doctype html>
<html lang="en">
  <head>
    <title>Auth</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="google-signin-client_id" content="997693139969-e42b2scofd7nilomu0v0osq57mcpv3c6.apps.googleusercontent.com"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <div class="bg"></div>
    <div id="login-box-div" class="container login-box-div">
        <img id="avatar" class="avatar" src="/img/avatar-male.jpg">
        </img>
        <div class="container-fluid login-items-center">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-12">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                        </div>
                        <input type="text" class="form-control" id="username-login" placeholder="Username">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password-login" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-12">
                        <button id="submit-login" class="btn btn-primary btn-block" type="button" name="button">Login</button>
                    </div>
                    <div class="col mb-2 text-center">
                    </div>
                </div>
            </form>
            <p id="lacks-account" class="text-white py-2 text-center selectable">I don't have an account.</p>
        </div>
    </div>
    <div id="signup-box-div" class="container signup-box-div">
        <div class="container-fluid signup-items-center">
            <p class="display-4 text-white text-center py-3">Sign up</p>
            <form class="signUp" action="index.html" method="post">
                <div class="form-group input-group"> <!-- userName -->
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-at"></i></span>
                     </div>
                    <input id="username-signup" name="username" class="form-control" placeholder="username" type="text">
                </div> <!-- userName -->
                <div class="form-group input-group"> <!-- fullName -->
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                     </div>
                    <input id="nickname-signup" name="nickname" class="form-control" placeholder="Full name" type="text">
                </div> <!-- fullName -->
                <div class="form-group input-group"><!-- email -->
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                     </div>
                    <input id="email-signup" name="email" class="form-control" placeholder="Email address" type="email">
                </div> <!-- email -->
                <div class="form-group input-group"><!-- password -->
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password-signup" class="form-control" placeholder="Password" type="password">
                </div> <!-- password -->
                <div class="form-group"><!-- sign up button -->
                    <button  id="submit-signup" type="submit" name="button" class="btn btn-success btn-block"> Create Account  </button>
                </div> <!-- sign up button -->
                <p id="has-account" class="text-center text-white py-3 selectable">I already have an account</p>
            </form>
            <h3 id="result"></h3>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/login.js"></script>
    <script src="/js/signUp.js"></script>
    <!-- <script src="/js/auth.js"></script> -->
</body>
</html>
