<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Enter the verification code:</h2>
    <input id="codeInput" type="text" name="" value="">
    <button id="send" type="button" name="button">Send</button>
    <script type="text/javascript" src="/js/verify.js"></script>
  </body>
</html>
